/** {
    box-sizing: border-box;
}*/

body {
    font-family: "Lato", sans-serif;
    margin: 0; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
}

/*#services, p, ul, li {
    text-align: left;
}*/


.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}

.dropdown {
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #302e2e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: rgba(0,0,0,0.2);
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    background-color: #ffffff;
    color: #000000;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.2);
    color: #000000;
}

/*.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}*/

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

.quote {
    margin: 0;
    padding: 1em 0;
    font-size: 20px;
    text-align: center;
}

p {
    margin: 0;
    padding: 1em 0;
}


/*#images column {
    width: 100%; 
    max-width: 300px;
}*/

/* The grid: Four equal columns that floats next to each other */

/*.column {
    float: left;
    height: 100px;
    width: 100px;
    padding: 10px;
}*/

 /* Style the images inside the grid */
 /*.column img {
     display: block;
     height: auto;
     width: 100%;*/
 /*  opacity: 0.8; */
     /*cursor: pointer;
  }*/

 /*.column img:hover {
    opacity: 1;
  }*/

/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* The expanding image container (positioning is needed to position the close button and the text) */
/*.container {
    position: relative;
    display: none;
}*/

/* Expanding image text */
/*#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}*/

/* Closable button inside the image */
/*.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}*/

/* Media Queries */
@media screen and (max-width: 360px) {

  /*.sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }*/



}

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 
    }
}